<!DOCTYPE html>
<html lang="en">
  <head>
    <title>What's Up Hot Dog</title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/app.css" type="text/css" media="screen">
  </head>
  <body>
    <script type="text/javascript" src="scripts/app.js"></script>
  </body>
</html>